{% extends "base.html" %}

{% block content %}

{% if action is None %}
<div class="row">
    <div class="col-sm-12">
        <div class="card comman-shadow">
            <div class="card-body">
                <form method="post" action="?action=show_attendance">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title student-info">
                                View Attendance
                                <span>
                                    <a href="javascript:;"><i class="feather-more-vertical"></i></a>
                                </span>
                            </h5>
                        </div>
                        {% include "includes/messages.html" %}
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Subject <span class="login-danger">*</span></label>
                                <select class="form-control select" name="subject_id" required>
                                    <option>Select Subject </option>
                                    {% for i in subjects  %}
                                    <option value="{{i.id}}">{{i.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="student-submit">
                                <button type="submit" class="btn btn-primary">Show Attendance</button>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
        <div class="card comman-shadow">
            <div class="card-body">
                <form method="post" action="?action=show_attendance">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title student-info">
                                View Attendance
                                <span>
                                    <a href="javascript:;"><i class="feather-more-vertical"></i></a>
                                </span>
                            </h5>
                        </div>
                        {% include "includes/messages.html" %}
                        <div class="col-12 col-sm-4">
                            <div class="form-group local-forms">
                                <label>Subject <span class="login-danger">*</span></label>
                                <select class="form-control select" name="subject_id" disabled>
                                    <option value="{{get_subject.id}}">{{get_subject}}</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="student-submit">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card card-table comman-shadow">
                                            <div class="card-body">
                                                <div class="page-header">
                                                    <div class="row align-items-center">
                                                    </div>
                                                </div>
                            
                                                <div class="table-responsive">
                                                    <table id="table_id" class="table border-0 star-student table-hover table-center mb-0 table-striped">
                                                        <thead class="student-thread">
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Subject Name</th>
                                                                <th>Session Year</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for i in attendance_report %}
                                                            <tr>
                                                                <td>{{i.attendance_id.attendance_data}}</td>
                                                                <td>{{i.attendance_id.subject_id.name}}</td>
                                                                <td>{{i.attendance_id.session_year_id.session_start}} To {{i.attendance_id.session_year_id.session_start}}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}




